body {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #3A4C78;
  background-origin: padding-box;
  background-size: auto;
  color: rgb(51, 51, 51);
  direction: ltr;
  display: block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  height: 636px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-y: scroll;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  unicode-bidi: embed;
  width: 100%;
  overflow-x: hidden;
}

nav {
  background-color: #212C45;
  background-repeat: repeat-x;
  min-height: 40px !important;
}

.nav-logo-link {
  height: 1em;
  padding: 1em 2em 1em;
  margin-top: -2.5em;
}

.main-content {
  margin: auto;
  background-color: #FFF;
  padding: 5em;
  padding-top: 8em;
  padding-bottom: 8em;
  width: 60%;
  box-shadow: .2em .2em 0 #EEE, .4em .4em 0 #CCC, .6em .6em 0 #AAA;
}

a.page-title,
a.page-title:visited {
  color: white;
}

.nav-sign-out {
  float: right;
  margin-top: -10px;
}

.bird-topbar-blue {
  background-image: image-url('twetter-logo.png');
  background-position: 0 0;
  width: 24px;
  height: 21px;
  float: left;
  margin-top: 10px;
}

.container {
  width: 865px;
  text-align: center;
}

.page-container {
  bottom: 0;
  left: 0;
  max-height: 750px;
  min-height: 545px;
  position: absolute;
  right: 0;
  top: 0;
}

.panel hr {
  margin-top: 2px;
  margin-bottom: 0px;
}

.panel h4 span {
  color: grey;
  font-weight: lighter;
}

.panel form .form-group {
  margin-bottom: 5px;
  color: rgb(153, 153, 153);
  font-size: 12px;
}

.panel form .form-group.or-links {
  margin-top: 8px !important;
  margin-bottom: 20px !important;
}

.panel form .form-group label {
  font-weight: normal;
}

.panel form .form-group:first-child {
  padding-top: 16px;
}

.panel form .form-group:last-child {
  margin-bottom: 32px;
}

.panel form .form-group.tall:last-child {
  margin-bottom: 50px;
}

.panel form .form-group input.left {
  width: 68%;
  float: left;
}

.panel form .form-group .btn.btn-warning {
  color: black;
}

.panel form .clearfix {
  padding: 1px;
}

.clearfix.top-space {
  margin: 120px 0 0 0;
}

.clearfix.top-space.small {
  margin: 50px 0 0 0;
}

.pad-10 {
  padding: 0 10px;
}

.mar-top-5 {
  margin-top: 5px;
}

.mar-top-15 {
  margin-top: 15px;
}

.text-middle {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
}

.uppercase {
  text-transform: uppercase;
}

.lighter {
  font-weight: lighter;
}

.alert-float {
  position: fixed;
  top: 0;
  z-index: 1050;
  color: white;
  width: 50%;
  text-align: center;
  left: 25%;
}

.alert-float .alert {
  z-index: 1050;
  padding: 10px;
}

table.stats {
  width: 258px;
  margin: 14px -20px 0 -20px;
}

table.stats h4 {
  margin: 0;
}

table.stats small {
  font-size: 70%;
}

table.stats td:first-child {
  padding-left: 18px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

ul {
  list-style: none;
}

.button {
  color: white;
  background-color: #738AC4;
  padding: 1em;
  text-decoration: none;
  border-radius: 15px;
  transition: all .8s ease 0s;
}

.button:hover {
  background-color: #4B6FC4;
}

.button:active {
  background-color: #37508F;
}

.button-small {
  color: #FFF;
  background-color: #FFCA48;
  padding: .5em;
  text-decoration: none;
  border-radius: 15px;
  transition: all .8s ease 0s;
  border: 0;
  outline: 0;
}

.button-small:hover {
  background-color: #D6A93D;
}

.button-small:active {
  background-color: #3D341E;
  outline: 0;
}

.tumblful-header {
  text-decoration: none;
  color: #FFF;
  padding-top: 1.5em;
}

.navbar-buttons {
  width: 100%;
  margin-left: 32.5%;
  padding-bottom: 1.5em;
}

#tumblful-footer {
  background: #738AC4;
  color: #FFF;
  padding: 1em;
  margin-top: 10em;
}

.tumblful-heart {
  color: #FF7878;
  font-size: 24px;
  transition: all 0.8s ease 0s;
}

.tumblful-heart:hover {
  color: #FFF;
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 17, 119), 0 0 35px rgb(255, 17, 119), 0 0 40px rgb(255, 17, 119), 0 0 50px rgb(255, 17, 119), 0 0 75px rgb(255, 17, 119);
}

#wrapper {
  position: relative;
}

.like-button {
  color: #FFF;
  font-size: 1.2em;
  background: #FF7878;
  border: none;
  padding: .2em;
  text-decoration: none;
  border-radius: 25px;
  transition: all .5s ease 0s;
  cursor: pointer;
  outline: 0;
  margin-left: 1em;
}

.like-button:hover {
  color: #FF7878;
  background: #FFF;
}

.like-button:active {
  color: #FFF;
  background: #FF7878;
}

.button-signout {
  color: #FFF;
  font-size: .8em;
  background: #212C45;
  border: none;
  padding: 2em;
  text-decoration: none;
  border-radius: 0;
  transition: all .5s ease 0s;
  cursor: pointer;
  outline: 0;
  margin-left: 80%;
}

.button-signout:hover {
  color: #FF7878;
}

.button-signout:active {
  color: #FFF;
}

.delete-button {
  color: #FFF;
  font-size: 1.2em;
  background: #C90000;
  border: none;
  padding: .2em;
  text-decoration: none;
  border-radius: 25px;
  transition: all .5s ease 0s;
  cursor: pointer;
  outline: 0;
  margin-left: 1em;
}

.delete-button:hover {
  color: #C90000;
  background: #FFF;
}

.delete-button:active {
  color: #FFF;
  background: #C90000;
}

.edit-button {
  color: #FFF;
  background: #FFCA48;
  border: none;
  padding: .2em;
  text-decoration: none;
  border-radius: 25px;
  transition: all .5s ease 0s;
  cursor: pointer;
  outline: 0;
}

.edit-button:hover {
  color: #FFCA48;
  background: #FFF;
}

.edit-button:active {
  color: #FFF;
  background: #FFCA48;
}

.thumbnail {
  width: 10em;
  transition: all .5s ease 0s;
}

.large-image {
  width: 30em;
  -mox-box-shadow: 0 0 15px #bbb;
  -webkit-box-shadow: 0 0 15px #bbb;
  box-shadow: 0 0 15px #bbb;
  transition: all .5s ease 0s;
}

.likes {
  margin-bottom: 1.5em;
  color: #777;
}